@charset "UTF-8";
/*display: flex;
    justify-content: end;*/
body {
 /* margin: 0%; /*щоб не було бокових відступів*/
  font-family: "Raleway", sans-serif; /*шрифт*/
}

.header-bd {
  overflow: hidden;
  margin-top: 0%;
  position: relative;
  z-index: 2;
  background-image: url("../img/body-img.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
@media (max-width: 600px){
  .header-bd{
    background-position: 50%;
  }
}

.header-bd::after {
  content: "";
  background: rgb(0, 0, 0);
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

ul {
  margin: 0%;
  list-style-type: none; /*забираєм крапку біля посилання*/
}

a {
  text-decoration: none; /*забираєм риску під силкою*/
  color: inherit; /*це означає що колір тeксту наслідує вказаний нижче йому*/
}

.header {
 /* overflow: hidden;*/
  z-index: 3;
  position: fixed; 
  top: 0; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(3, 3, 3, 0.5); /*колір головного блоку*/
  height: 50px;
  line-height: 50px; /*щоб не було верхнього відступу*/
  font-weight: bold; /*жирність тексту*/
}

.logo {
/*  position: fixed;*/
  height: 40px;
}
@media (max-width: 600px){
  .logo{
  height: 30px;
  }
  }

.logo-link {
  display: flex;
  height: 100%;
  align-items: center;
}

/*.in-header{
  position: relative;
}*/

.in-header li .text-header {
  position: relative;
  margin-top: 20px;
 /* padding: 0 10px;*/
  color: white; /*наслідувальний колір тексту*/
  /*display: inline-block; /*текст розташовуєм по горизонталі*/
  font-weight: bold; /*жирність тексту*/
  font-size: 18px; /*розмір тексту*/
}
@media (max-width: 600px){
    .in-header li .text-header{
    font-size : 10px;
    }
}

.in-header li .text-header::after{
  content: "";
  height: 2px;
  width: 100%;
  background: rgb(204, 38, 38);
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: -8px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.logo-img {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.header:hover .kontakt {
  background-color: red; /*зміна кольору при наведенні на контакти*/
  transition: all 300ms ease; /*час зміни кольору*/
}

/* kontakt Button */
.kontakt {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
  line-height: 50px; /*центрування тексту*/
  height: 30px;
  font-weight: bold; /*жирність тексту*/
  background-color: rgb(204, 38, 38);
  color: white;
  padding: 0 10px; /*бокове розширення блоку*/
  font-size: 16px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
@media (max-width: 600px){
    .kontakt{
    height: 20px;
    font-size : 10px;
    padding: 0 5px;
    }
}

.kontakt img {
  width: 1em; /*розмір картинки*/
}

/* The container <div> - needed to position the dropdown content */
.bt-header {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: flex;
  align-items: center;
  display: none;
  position: absolute;
  border-radius: 4px;
  background-color: rgb(204, 38, 38, 0.7);
  max-width: 113px;
  /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 0 10px;
  padding-top: none;
  text-decoration: none;
  display: block;
}
@media screen and (max-width: 600px) {
  .dropdown-content a{
  padding: 0 7.5px;
  font-size : 10px;
  }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: red;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.text{
  position: relative;
  z-index: 1;
  margin-top: 150px;
  font-size: 23px;
  font-weight: bolder;
  font-style: italic;
}
@media (max-width: 600px){
  .text li h1{
    font-size: 15px;
  }
}

.text-HH1 {
  color: white;
  text-shadow: 1px 0 10px white;
  margin: 0%;
}

.text-HH1::first-letter{
  font-size: 200%;
  color: rgb(204, 38, 38);
  text-shadow: 1px 0 10px white;
}
.text-HH1 img {
  width: 2em;
}

.text-h1 {
  color: rgb(204, 38, 38);
  text-shadow: 1px 0 10px rgb(204, 38, 38);
  padding-left: 20px;
  margin: 0%;
}

.text-h1::first-letter{
  font-size: 200%;
  color: rgb(204, 38, 38);
  text-shadow: 1px 0 10px white;
}

.prise{
  position: relative;
  z-index: 2;
  width: 500px;
  height: 400px;
}
@media screen and (max-width:450px) {
  .prise{
  position: relative;
  z-index: 1;
  width: 500px;
  height: 900px;
  margin-top: 100%;
  top: -400px;
  border-bottom: 800px solid rgb(0, 0, 0, 0.5);
  border-left:0 solid transparent ;
  border-bottom: 0 solid transparent;
  border-top: 250px solid transparent;
  border-right: 500px solid rgb(0, 0, 0, 0.5);
  /* opacity: 0.4;  */
  }
}

.button-prise{
  position: absolute;
  z-index: 5;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-top: 25px;
  height: 50px;
  width: 150px;
  font-weight: bold; /*жирність тексту*/
  background-color: rgb(204, 38, 38);
  color: white;
  padding: 0 10px; /*бокове розширення блоку*/
  font-size: 16px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 500px;
    width: 150px;
  }

  to {
    width: 150px;
  }
}
.button-prise:hover{
  background-color: red;
  transition: 1s;
}
.button-prise a{
  text-decoration: none;
  color: white;
}
#openDialog{
  border-style: none;
  margin: 0 auto;
}

.ttt{
  width: 100vw;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .ttt{
    display: flex;
    justify-content: center;
    background: rgb(53, 51, 51, 0.3);
  }
}
  #dialog1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    width: 500px;
 }

