.header-bd {
    overflow: hidden;
    margin-top: 0%;
    position: relative;
    z-index: 2;
    background-image: url("../img/body-img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  @media (max-width: 600px){
    .header-bd{
      background-position: 50%;
    }
  }
.header-bd::after {
    content: "";
    background: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.85;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.nav{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
    opacity: 0.85;
}
.nav-list{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 40px;
}
@media (max-width: 600px){
    .logo{
    height: 30px;
    }
    }
.logo-list{
    display: flex;
    height: 100%;
    align-items: center;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.text-header{
    position: relative;
    color: white;
    margin-top: 20px;
    font-weight: bold; /*жирність тексту*/
    font-size: 18px; /*розмір тексту*/
}
@media (max-width: 600px){
    .text-header{
    font-size : 10px;
    }
}
    .text-header::after{
    content: "";
    height: 2px;
    width: 100%;
    background: rgb(204, 38, 38);
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: -8px;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
  }
  @-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
  .kontakt {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    font-weight: bold; /*жирність тексту*/
    background-color: rgb(204, 38, 38);
    color: white;
    padding: 0 10px; /*бокове розширення блоку*/
    font-size: 16px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
  }
  @media (max-width: 600px){
      .kontakt{
      height: 20px;
      font-size : 10px;
      padding: 0 5px;
      }
  }
  .logo-img{
    height: 1em;
    padding-right: 5px;
}
.bt-header {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: flex;
    align-items: center;
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(204, 38, 38, 0.7);
    max-width: 130px;
    /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 10px 13.5px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
  @media screen and (max-width: 600px) {
    .dropdown-content a{
    padding: 0 7.5px;
    font-size : 10px;
    }
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: red;
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
  .ttt{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 5;
  }

.open-dialog{
    z-index: 100;
}